.newsDetailNavigate {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #116ceb;
  color: white;
  z-index: 999;
  height: 1.2rem;
}

.newsDetailContainer {
  position: relative;
  top: 1.2rem;
  overflow: auto;
  top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 100vw;
  height: calc(100vh - 2.4rem);
  font-size: 0.45rem;
  display: flex;
  flex-direction: column;
}

#newsDetailContent {
  position: relative;
  margin: 0 0.3rem;
  flex: 1;
  line-height: 0.8rem;
}

.newsDetailTitle {
  margin: 0 0.3rem;
}

.newsDetailTitle > h1 {
  font-size: 0.6rem;
  line-height: 0.8rem;
}

.newsDetailTitle > p {
  font-size: 0.4rem;
  color: grey;
}
